.jumbotron-fluid {
    background-color:   black;
    height: 7em;
    font-size: 2rem;
    margin: auto;
    padding: 5rem;
  

}

p,
h1
{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  2rem;
    color: white;

}

h4{
    color: white;
}